In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [15]:
file_path = 'charity_data.csv'
charity_df = pd.read_csv(file_path)
charity_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [31]:
charity_names_df = charity_df.filter(['EIN', 'NAME'])
charity_names_df

             EIN                                               NAME
0       10520599                       BLUE KNIGHTS MOTORCYCLE CLUB
1       10531628             AMERICAN CHESAPEAKE CLUB CHARITABLE TR
2       10547893                 ST CLOUD PROFESSIONAL FIREFIGHTERS
3       10553066                     SOUTHSIDE ATHLETIC ASSOCIATION
4       10556103           GENETIC RESEARCH INSTITUTE OF THE DESERT
...          ...                                                ...
34294  996009318              THE LIONS CLUB OF HONOLULU KAMEHAMEHA
34295  996010315           INTERNATIONAL ASSOCIATION OF LIONS CLUBS
34296  996012607                                PTA HAWAII CONGRESS
34297  996015768  AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...
34298  996086871                           WATERHOUSE CHARITABLE TR

[34299 rows x 2 columns]

In [33]:
# Drop unneeded EIN and NAME columns from charity_df so we can perform analysis
charity_df_2 = charity_df.drop(columns=['EIN', 'NAME'])
charity_df_2

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [37]:
# Check the number of different catagorical values to see if bucketing is necessary
# Generate our categorical variable list
charity_categories = charity_df_2.dtypes[charity_df_2.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
charity_df_2[charity_categories].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [39]:
# May need to bucket application type and classification
# Check the App type value counts
application_counts=charity_df_2.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Replace app types with less than 500 with 'other'
replace_App = list(application_counts[application_counts < 500].index)

for app in replace_App:
    charity_df_2.APPLICATION_TYPE = charity_df_2.APPLICATION_TYPE.replace(app, 'Other')

charity_df_2.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [43]:
# Now do same process for CLASSIFICATION column
classification_counts=charity_df_2.CLASSIFICATION.value_counts()
classification_counts[:30]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
Name: CLASSIFICATION, dtype: int64

In [44]:
# Cap it at less than 100 goes to the other bin
replace_Cat = list(classification_counts[classification_counts < 100].index)

for cat in replace_Cat:
    charity_df_2.CLASSIFICATION = charity_df_2.CLASSIFICATION.replace(cat, 'Other')

charity_df_2.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [48]:
#Now bucketing is done. Can start encoding strings to numerical values
encoded_df = pd.get_dummies(charity_df_2, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', "USE_CASE", 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS', 'INCOME_AMT'])
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,SPECIAL_CONSIDERATIONS_Y,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [55]:
# Split our preprocessed data into our features and target arrays
y = encoded_df["IS_SUCCESSFUL"].values
X = encoded_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [56]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [81]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  4
#hidden_nodes_layer2 = 6

nn_7 = tf.keras.models.Sequential()

# First hidden layer
nn_7.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#nn_6.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn_7.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_7.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 4)                 200
_________________________________________________________________
dense_22 (Dense)             (None, 1)                 5
=================================================================
Total params: 205
Trainable params: 205
Non-trainable params: 0
_________________________________________________________________

In [82]:
# Compile the model
nn_7.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [83]:
# Train the model
fit_model = nn_7.fit(X_train,y_train,epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 2s 89us/sample - loss: 20916.5377 - accuracy: 0.4941
Epoch 2/100
25724/25724 [==============================] - 2s 60us/sample - loss: 11211.3277 - accuracy: 0.5413
Epoch 3/100
25724/25724 [==============================] - 2s 60us/sample - loss: 4317.2736 - accuracy: 0.5294
Epoch 4/100
25724/25724 [==============================] - 2s 60us/sample - loss: 17455.5249 - accuracy: 0.5045
Epoch 5/100
25724/25724 [==============================] - 2s 60us/sample - loss: 13203.7591 - accuracy: 0.5364
Epoch 6/100
25724/25724 [==============================] - 2s 59us/sample - loss: 1788.5127 - accuracy: 0.5719
Epoch 7/100
25724/25724 [==============================] - 2s 59us/sample - loss: 14105.0954 - accuracy: 0.5137
Epoch 8/100
25724/25724 [==============================] - 2s 60us/sample - loss: 9210.3864 - accuracy: 0.5194
Epoch 9/100
25724/25724 [==============================] - 2s 59us/sample - loss: 17725.0050 - accuracy: 0.5702
Epoch 10/100
25724/25724 [==============================] - 2s 60us/sample - loss: 9237.3502 - accuracy: 0.5568
Epoch 11/100
25724/25724 [==============================] - 2s 60us/sample - loss: 12914.3242 - accuracy: 0.6006
Epoch 12/100
25724/25724 [==============================] - 2s 60us/sample - loss: 7672.9298 - accuracy: 0.5577
Epoch 13/100
25724/25724 [==============================] - 2s 60us/sample - loss: 16409.5637 - accuracy: 0.5577
Epoch 14/100
25724/25724 [==============================] - 2s 60us/sample - loss: 5207.3510 - accuracy: 0.5645
Epoch 15/100
25724/25724 [==============================] - 2s 60us/sample - loss: 11313.2855 - accuracy: 0.5538
Epoch 16/100
25724/25724 [==============================] - 2s 60us/sample - loss: 9232.3877 - accuracy: 0.6030
Epoch 17/100
25724/25724 [==============================] - 2s 60us/sample - loss: 7405.1699 - accuracy: 0.5529
Epoch 18/100
25724/25724 [==============================] - 2s 61us/sample - loss: 9465.9036 - accuracy: 0.5767
Epoch 19/100
25724/25724 [==============================] - 2s 60us/sample - loss: 24808.1264 - accuracy: 0.5557
Epoch 20/100
25724/25724 [==============================] - 2s 60us/sample - loss: 16481.9947 - accuracy: 0.5431
Epoch 21/100
25724/25724 [==============================] - 2s 61us/sample - loss: 14409.0648 - accuracy: 0.5526
Epoch 22/100
25724/25724 [==============================] - 2s 60us/sample - loss: 9648.2270 - accuracy: 0.5661
Epoch 23/100
25724/25724 [==============================] - 2s 60us/sample - loss: 16284.1800 - accuracy: 0.5865
Epoch 24/100
25724/25724 [==============================] - 2s 60us/sample - loss: 13789.7626 - accuracy: 0.5836
Epoch 25/100
25724/25724 [==============================] - 2s 60us/sample - loss: 9332.8289 - accuracy: 0.5891
Epoch 26/100
25724/25724 [==============================] - 2s 60us/sample - loss: 16103.9271 - accuracy: 0.5883
Epoch 27/100
25724/25724 [==============================] - 2s 60us/sample - loss: 2364.7328 - accuracy: 0.6237
Epoch 28/100
25724/25724 [==============================] - 2s 60us/sample - loss: 22109.8328 - accuracy: 0.5534
Epoch 29/100
25724/25724 [==============================] - 2s 60us/sample - loss: 12797.8723 - accuracy: 0.5729
Epoch 30/100
25724/25724 [==============================] - 2s 61us/sample - loss: 4470.9698 - accuracy: 0.6190
Epoch 31/100
25724/25724 [==============================] - 2s 61us/sample - loss: 11236.8888 - accuracy: 0.5624s - loss: 14479.051
Epoch 32/100
25724/25724 [==============================] - 2s 61us/sample - loss: 17692.9986 - accuracy: 0.5748
Epoch 33/100
25724/25724 [==============================] - 2s 61us/sample - loss: 10853.5319 - accuracy: 0.5817
Epoch 34/100
25724/25724 [==============================] - 2s 60us/sample - loss: 10454.9275 - accuracy: 0.5615
Epoch 35/100
25724/25724 [==============================] - 2s 61us/sample - loss: 13230.4219 - accuracy: 0.5742s - loss: 4
Epoch 36/100
25724/25724 [==============================] - 2s 60us/sample - loss: 11607.9367 - accuracy: 0.5567
Epoch 37/100
25724/25724 [==============================] - 2s 60us/sample - loss: 14991.2452 - accuracy: 0.5270
Epoch 38/100
25724/25724 [==============================] - 2s 61us/sample - loss: 5448.3371 - accuracy: 0.5809
Epoch 39/100
25724/25724 [==============================] - 2s 60us/sample - loss: 4373.3364 - accuracy: 0.5845
Epoch 40/100
25724/25724 [==============================] - 2s 61us/sample - loss: 6581.8982 - accuracy: 0.6135
Epoch 41/100
25724/25724 [==============================] - 2s 61us/sample - loss: 4900.2250 - accuracy: 0.5967
Epoch 42/100
25724/25724 [==============================] - 2s 61us/sample - loss: 17825.4880 - accuracy: 0.5992
Epoch 43/100
25724/25724 [==============================] - 2s 61us/sample - loss: 14088.0543 - accuracy: 0.5984
Epoch 44/100
25724/25724 [==============================] - 2s 61us/sample - loss: 4326.6346 - accuracy: 0.5854
Epoch 45/100
25724/25724 [==============================] - 2s 60us/sample - loss: 13006.4746 - accuracy: 0.5596
Epoch 46/100
25724/25724 [==============================] - 2s 61us/sample - loss: 4128.6882 - accuracy: 0.6126
Epoch 47/100
25724/25724 [==============================] - 2s 61us/sample - loss: 5783.1309 - accuracy: 0.6106
Epoch 48/100
25724/25724 [==============================] - 2s 61us/sample - loss: 15960.5953 - accuracy: 0.5734
Epoch 49/100
25724/25724 [==============================] - 2s 61us/sample - loss: 6424.7087 - accuracy: 0.5859
Epoch 50/100
25724/25724 [==============================] - 2s 62us/sample - loss: 13847.2576 - accuracy: 0.5683
Epoch 51/100
25724/25724 [==============================] - 2s 61us/sample - loss: 15814.3067 - accuracy: 0.6143
Epoch 52/100
25724/25724 [==============================] - 2s 62us/sample - loss: 9384.5548 - accuracy: 0.6113
Epoch 53/100
25724/25724 [==============================] - 2s 62us/sample - loss: 10770.9588 - accuracy: 0.5512
Epoch 54/100
25724/25724 [==============================] - 2s 66us/sample - loss: 6819.1392 - accuracy: 0.6022
Epoch 55/100
25724/25724 [==============================] - 2s 62us/sample - loss: 19547.4000 - accuracy: 0.5573
Epoch 56/100
25724/25724 [==============================] - 2s 61us/sample - loss: 11217.5632 - accuracy: 0.6180
Epoch 57/100
25724/25724 [==============================] - 2s 61us/sample - loss: 3560.1043 - accuracy: 0.6239
Epoch 58/100
25724/25724 [==============================] - 2s 61us/sample - loss: 9871.5231 - accuracy: 0.6209
Epoch 59/100
25724/25724 [==============================] - 2s 61us/sample - loss: 13675.6030 - accuracy: 0.5488
Epoch 60/100
25724/25724 [==============================] - 2s 61us/sample - loss: 7105.8761 - accuracy: 0.5387
Epoch 61/100
25724/25724 [==============================] - 2s 61us/sample - loss: 4411.2158 - accuracy: 0.6231
Epoch 62/100
25724/25724 [==============================] - 2s 62us/sample - loss: 9478.0475 - accuracy: 0.56341s - loss:
Epoch 63/100
25724/25724 [==============================] - 2s 67us/sample - loss: 4191.6520 - accuracy: 0.6185
Epoch 64/100
25724/25724 [==============================] - 2s 65us/sample - loss: 15872.0295 - accuracy: 0.6220
Epoch 65/100
25724/25724 [==============================] - 2s 63us/sample - loss: 3369.2133 - accuracy: 0.6199
Epoch 66/100
25724/25724 [==============================] - 2s 61us/sample - loss: 6067.5880 - accuracy: 0.5948
Epoch 67/100
25724/25724 [==============================] - 2s 65us/sample - loss: 7119.4224 - accuracy: 0.5745
Epoch 68/100
25724/25724 [==============================] - 2s 65us/sample - loss: 11036.1672 - accuracy: 0.5851
Epoch 69/100
25724/25724 [==============================] - 2s 61us/sample - loss: 11615.7240 - accuracy: 0.6040
Epoch 70/100
25724/25724 [==============================] - 2s 62us/sample - loss: 12479.0147 - accuracy: 0.6146
Epoch 71/100
25724/25724 [==============================] - 2s 67us/sample - loss: 3342.0134 - accuracy: 0.6099
Epoch 72/100
25724/25724 [==============================] - 2s 61us/sample - loss: 4347.8303 - accuracy: 0.6140
Epoch 73/100

25724/25724 [==============================] - 2s 59us/sample - loss: 12897.6750 - accuracy: 0.5569
Epoch 74/100
25724/25724 [==============================] - 2s 59us/sample - loss: 6857.2130 - accuracy: 0.5756
Epoch 75/100
25724/25724 [==============================] - 2s 59us/sample - loss: 11252.3892 - accuracy: 0.5572
Epoch 76/100
25724/25724 [==============================] - 2s 59us/sample - loss: 6896.9061 - accuracy: 0.5844
Epoch 77/100
25724/25724 [==============================] - 2s 58us/sample - loss: 12405.6949 - accuracy: 0.6160
Epoch 78/100
25724/25724 [==============================] - 2s 59us/sample - loss: 7079.8098 - accuracy: 0.6403
Epoch 79/100
25724/25724 [==============================] - 2s 61us/sample - loss: 11590.1127 - accuracy: 0.5983
Epoch 80/100
25724/25724 [==============================] - 2s 59us/sample - loss: 10966.9536 - accuracy: 0.6060
Epoch 81/100
25724/25724 [==============================] - 2s 59us/sample - loss: 925.5128 - accuracy: 0.6661
Epoch 82/100
25724/25724 [==============================] - 2s 61us/sample - loss: 8147.0478 - accuracy: 0.6230
Epoch 83/100
25724/25724 [==============================] - 2s 59us/sample - loss: 14616.0565 - accuracy: 0.5847
Epoch 84/100
25724/25724 [==============================] - 2s 59us/sample - loss: 10469.6785 - accuracy: 0.5470
Epoch 85/100
25724/25724 [==============================] - 2s 59us/sample - loss: 9066.1623 - accuracy: 0.5808
Epoch 86/100
25724/25724 [==============================] - 2s 59us/sample - loss: 8434.7506 - accuracy: 0.5690
Epoch 87/100
25724/25724 [==============================] - 2s 59us/sample - loss: 8499.9248 - accuracy: 0.6434
Epoch 88/100
25724/25724 [==============================] - 2s 59us/sample - loss: 2842.4392 - accuracy: 0.6098
Epoch 89/100
25724/25724 [==============================] - 2s 59us/sample - loss: 9537.4263 - accuracy: 0.5954
Epoch 90/100
25724/25724 [==============================] - 2s 59us/sample - loss: 7204.1952 - accuracy: 0.5745
Epoch 91/100
25724/25724 [==============================] - 2s 59us/sample - loss: 10976.8747 - accuracy: 0.6009
Epoch 92/100
25724/25724 [==============================] - 2s 59us/sample - loss: 7182.2084 - accuracy: 0.5961
Epoch 93/100
25724/25724 [==============================] - 2s 59us/sample - loss: 3084.9472 - accuracy: 0.6284
Epoch 94/100
25724/25724 [==============================] - 2s 60us/sample - loss: 3323.7365 - accuracy: 0.6178
Epoch 95/100
25724/25724 [==============================] - 2s 64us/sample - loss: 3985.8529 - accuracy: 0.6356
Epoch 96/100
25724/25724 [==============================] - 2s 69us/sample - loss: 8781.3522 - accuracy: 0.5774
Epoch 97/100
25724/25724 [==============================] - 2s 67us/sample - loss: 7322.1065 - accuracy: 0.5879
Epoch 98/100
25724/25724 [==============================] - 2s 63us/sample - loss: 6310.8608 - accuracy: 0.60810s - loss: 3419.7254 - accur
Epoch 99/100
25724/25724 [==============================] - 2s 61us/sample - loss: 9871.6947 - accuracy: 0.59871s - loss: 1
Epoch 100/100
25724/25724 [==============================] - 2s 66us/sample - loss: 6862.2348 - accuracy: 0.5894

In [ ]:
# First attempt: two layers, 8, 5 neurons, reLU in hidden, sigmoid activation in output
# loss 0.6911, acc 0.5321
# Second attempt: one hidden layer, 8 neurons in hidden layer with reLu, sigmoid activation in output
# same exact loss and accuracy as first attempt
# Third attempt: one hidden layer 6 neurons with sigmoid activation, sigmoid activation in output
# same exact loss and accuracy as first and second attempt
# Fourth attempt: two hidden layers, 1st with 6 Neurons and reLu, 2nd with 4 neurons and sigmoid, output sigmoid
# Still getting the exact same loss and accuracy. Nothing is changing from epoch to epoch, so I must be doing something wrong
# Fifth attempt: one hidden layer, 7 neurons with relu, output has tanh
# loss 8.204, accuracy 0.4679. Still not changing much less improving from epoch to epoch
# Sixth attempt, two hidden layers, first with 8 neurons and relu, second with 6 neurons and relu, sigmoid in output
# same loss and accuracy as the first attempt. This time there was changes from epoch to epoch though
# Seventh attempt: one layer 4 neurons with relu, sigmoid output
#loss: 6862.2348, accuracy: 0.5894